<html>
<body>

<hr>
      <div class="col-md-12" style="padding-left: 30px">
        <div class="row">
          <div class="col-md-4">
            <h2>Sunucu</h2>
            <p>Botun destek sunucusu.</p>
            <p><a class="btn btn-secondary" href="https://discord.gg/Ez9A8Pd" role="button">Sunucuya Katıl <i class="fa fa-fw fa-chevron-circle-right" aria-hidden="true"></i></a></p>
          </div>
          <div class="col-md-4">
            <h2>Bu bot</h2>
            <p><%= bot.users.get("670529747297501208").tag %> tarafından geliştirilmektedir</p>
            <p><a class="btn btn-secondary" href="https://glitch.com/@yusufzorllu34" role="button">Glitch profilim <i class="fa fa-fw fa-chevron-circle-right" aria-hidden="true"></i></a></p>
          </div>
        </div>
      </div>
      <footer class="footer"><p style="text-align:center">© "Just Panel"  bir  Coder'S  Code  Projesidir. 2018 <a href="#" class="back-to-top" style="text-align:center"><i class="fa fa-fw fa-arrow-circle-up"></i></a></p></footer>
    </div>
  </body>
</html>